$orange: #ffa502;
$coral: #ff7f50;
$silver: #dfe4ea;
$sidebar: #2f3542;
$white: #ffffff;
$black: #333333;
$blue: #0984e3;
$cyan: #81ecec;


@mixin margin-lr($unit){
	margin-left: $unit;
	margin-right: $unit;
}

@mixin padding-lr($unit){
	padding-left: $unit;
	padding-right: $unit;
}

body, html{
	height: 100%;
	font-size: 10pt;
	marign: 0;
	padding: 0;
	width: 100%;
}
.wrapper{
	width: 100%;
	position: relative;
	height: 100%;
}
header{
	position: fixed;
	width: 100%;
	z-index: 999;
	.homelink{
		width: 230px;
		left: 0;
		background: $orange;
		transition: .5s ease-in-out;
		a{
			display: block;
			padding: 5px 0;
			font-size: 16pt;
			text-decoration: none;
			color: $white;
		}
		a:hover{
			@include margin-lr(-15px !important);
			background: $coral;
			color: $black;
		}
	}
	.menubar{
		width: calc(100% - 230px);
		background: $coral;
		@include padding-lr(0);
		.navbar{
			@include padding-lr(0);
			padding-top: 0;
			padding-bottom: 0;

			.navbar-brand{
				@include padding-lr(15px);
			}
			a{
				display: block !important;
				padding: 8.5px 10px !important;
				position: relative;
				.badge{
					position: absolute;
					top: 3px;
					right: 0px;
				}
			}
			a:hover{
				background: $orange;
				color: $white;
			}

			.dropdown{
				a > img{
					position: relative;
					width: 25px;
					height: 25px;
					border-radius: 50%;
					top: 4px;
					margin-top: -10px;
				}
				.dropdown-menu{
					left: auto;
					right: 0 !important;
					border-radius: 0;
					a{
						padding-top: 3px;
						padding-bottom: 3px;
					}
				}
			}
		}
	}
}/* header */


.allcontent{
	height: 100%;
	// background: green;
	@include margin-lr(-15px);
	.sidebar{
		width: 230px;
		left: 0;
		top: 0;
		position: fixed;
		height: 100%;
		background: $sidebar;
		transition: .5s ease-in-out;
	}
	.sidemenu{
		padding-top: 50px;
		height: 100%;
		@include margin-lr(-15px);
		overflow-y: auto;
		overflow-x: hidden;
		ul{
			list-style: none;
			margin: 0;
			padding: 0;
			li{
				border-radius: 0;
				border: 0;
				border-bottom: 1px solid $white;
				a{
					text-decoration: none;
					display: block;
					padding: 7.5px 15px;
					color: $silver;
					background: $blue;
				}
				a:hover{
					color: $white;
					background: $coral;
					text-shadow: 0 0 5px $black;
					box-shadow: inset 0 0 10px $white;
				}
			}
		}

		ul ul{
			margin: 0;
			border-left: 15px solid $cyan;
		}
		ul li > ul li{
			border-bottom: none !important;
		}
		ul li > ul li a{
			background: none;
			text-decoration: none;
		}
	}

	.mainbody{
		position: relative;
		float: right;
		width: 100%;
		height: 100%;
		background: $silver;

		.content{
			width: auto;
			min-height: 100%;
			// background: yellow;
		}
		footer{
			padding: 15px;
			margin: 0 -15px;
			background: $black;
			color: $white;
		}
	}

	.rightbar{
		position: fixed;
		width: 200px;
		height: 100%;
		top: 0;
		right: 0;
		padding: 0 15px;
		background: $sidebar;
	}

}

.off{
	left: -230px !important;
}
