body, html {
  height: 100%;
  font-size: 10pt;
  marign: 0;
  padding: 0;
  width: 100%; }

.wrapper {
  width: 100%;
  position: relative;
  height: 100%; }

header {
  position: fixed;
  width: 100%;
  z-index: 999; }
  header .homelink {
    width: 230px;
    left: 0;
    background: #ffa502;
    transition: .5s ease-in-out; }
    header .homelink a {
      display: block;
      padding: 5px 0;
      font-size: 16pt;
      text-decoration: none;
      color: #ffffff; }
    header .homelink a:hover {
      margin-left: -15px !important;
      margin-right: -15px !important;
      background: #ff7f50;
      color: #333333; }
  header .menubar {
    width: calc(100% - 230px);
    background: #ff7f50;
    padding-left: 0;
    padding-right: 0; }
    header .menubar .navbar {
      padding-left: 0;
      padding-right: 0;
      padding-top: 0;
      padding-bottom: 0; }
      header .menubar .navbar .navbar-brand {
        padding-left: 15px;
        padding-right: 15px; }
      header .menubar .navbar a {
        display: block !important;
        padding: 8.5px 10px !important;
        position: relative; }
        header .menubar .navbar a .badge {
          position: absolute;
          top: 3px;
          right: 0px; }
      header .menubar .navbar a:hover {
        background: #ffa502;
        color: #ffffff; }
      header .menubar .navbar .dropdown a > img {
        position: relative;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        top: 4px;
        margin-top: -10px; }
      header .menubar .navbar .dropdown .dropdown-menu {
        left: auto;
        right: 0 !important;
        border-radius: 0; }
        header .menubar .navbar .dropdown .dropdown-menu a {
          padding-top: 3px;
          padding-bottom: 3px; }

/* header */
.allcontent {
  height: 100%;
  margin-left: -15px;
  margin-right: -15px; }
  .allcontent .sidebar {
    width: 230px;
    left: 0;
    top: 0;
    position: fixed;
    height: 100%;
    background: #2f3542;
    transition: .5s ease-in-out; }
  .allcontent .sidemenu {
    padding-top: 50px;
    height: 100%;
    margin-left: -15px;
    margin-right: -15px;
    overflow-y: auto;
    overflow-x: hidden; }
    .allcontent .sidemenu ul {
      list-style: none;
      margin: 0;
      padding: 0; }
      .allcontent .sidemenu ul li {
        border-radius: 0;
        border: 0;
        border-bottom: 1px solid #ffffff; }
        .allcontent .sidemenu ul li a {
          text-decoration: none;
          display: block;
          padding: 7.5px 15px;
          color: #dfe4ea;
          background: #0984e3; }
        .allcontent .sidemenu ul li a:hover {
          color: #ffffff;
          background: #ff7f50;
          text-shadow: 0 0 5px #333333;
          box-shadow: inset 0 0 10px #ffffff; }
    .allcontent .sidemenu ul ul {
      margin: 0;
      border-left: 15px solid #81ecec; }
    .allcontent .sidemenu ul li > ul li {
      border-bottom: none !important; }
    .allcontent .sidemenu ul li > ul li a {
      background: none;
      text-decoration: none; }
  .allcontent .mainbody {
    position: relative;
    float: right;
    width: 100%;
    height: 100%;
    background: #dfe4ea; }
    .allcontent .mainbody .content {
      width: auto;
      min-height: 100%; }
    .allcontent .mainbody footer {
      padding: 15px;
      margin: 0 -15px;
      background: #333333;
      color: #ffffff; }
  .allcontent .rightbar {
    position: fixed;
    width: 200px;
    height: 100%;
    top: 0;
    right: 0;
    padding: 0 15px;
    background: #2f3542; }

.off {
  left: -230px !important; }

/*# sourceMappingURL=style.css.map */
